
body{
    margin: 0%;
    padding: 0%;
}
.container{
    display: grid;
    grid-template-columns: 1.3fr 3fr;
}
.sidebar{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #1E293B;
    box-sizing: border-box;
    border: 1px solid #E5E7EB;
    
}
.heading{
    font-size: xx-large;
    color: white;
    padding: 5px;
    font-family: 'Italiana', serif;
    margin: 50px;
}
.heading i{
    color: goldenrod;
}
.sidebar button{
   padding: 15px;
   background-color: goldenrod;
   border: none;
   border-radius: 5px;
   width: 100%;
   cursor: pointer;
   font-size: larger;
   color: white;
}
.books-data{
    display: flex;
  flex-direction: column;
  gap: 12px; 
  padding: 46px;
  border-radius: 8px;
  color: white;
  font-size: large;
}
.hidden-form{
    display: none;
    
}
.show-form{
   display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: 9999;
background-color: rgba(0, 0, 0, 0.4);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
    
}
#add-bookform {
    display: flex;
flex-direction: column;
gap: 12px;
color: white;
background-color: #1E293B;
padding: 30px;
border-radius: 8px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
width: 90%;
max-width: 450px;
}



