
body{
    margin: 0%;
    padding: 0%;
}
.container{
    display: grid;
    grid-template-columns: 1.3fr 3fr;
}
.sidebar{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #1E293B;
    box-sizing: border-box;
    border: 1px solid #E5E7EB;
    
}
.heading{
    font-size: xx-large;
    color: white;
    padding: 5px;
    font-family: 'Italiana', serif;
    margin: 50px;
}
.heading i{
    color: goldenrod;
}
.sidebar button{
   padding: 15px;
   background-color: goldenrod;
   border: none;
   border-radius: 5px;
   width: 100%;
   cursor: pointer;
   font-size: larger;
   color: white;
}
.books-data{
    display: flex;
  flex-direction: column;
  gap: 12px; 
  padding: 46px;
  border-radius: 8px;
  color: white;
  font-size: large;
}
.hidden-form{
    display: none;
    
}
.show-form{
   display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: 9999;
background-color: rgba(0, 0, 0, 0.4);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
    
}
#add-bookform {
    display: flex;
flex-direction: column;
gap: 12px;
color: white;
background-color: #1E293B;
padding: 30px;
border-radius: 8px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
width: 90%;
max-width: 450px;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    align-content: start;
}
.book-card{
min-height: 200px;
    min-width: 20px;
    box-sizing: border-box;
    background-color: #1E293B;
    border-radius: 10px;
    
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 20px;
    font-size:small;
    
}
.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #64748b;
}

.card-content h3 {
    margin: 0;
    font-size: 1.1rem;
    color: whitesmoke;
}

.card-content p {
    margin: 0;
    font-size: 0.9rem;
}
.card-content button {
    margin: 0;
    font-size: 0.7rem;
    width: fit-content;
}
.card-banner {
    height: 140px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}


.banner-read {
    background-color: #E2ECE9;
    color:  #2D5A4C;
}


.banner-unread {
    background-color: #FBECE8;
    color: #A34836
}



